{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent () ~ ' - Home' }}{#rajoute home à la fin du title#}
{% endblock %}

{% block body %}
    {{ parent() }}{#comprend le contenu déjà indiqué dans le blody#}
    <h1>Cours de {{ name }}</h1>

    {% include('AppBundle:Article/Partial:list.html.twig') %}

{% endblock %}
{% block endbody %}
{% endblock %}