body {
    background-color: #fff;
}

h3{
    color: #dd4444;
}
h1, h2, p, li{
    color: #313131;
}

h4{
    color: yellow;
    font-size: 40px;
    float: left;
    padding: 1%;
}
label{
    color: white;
}

input, textarea{
    margin-left: 25%;
    width:50%;
    border-color:inherit;
    padding: 6px;

}

button{
    margin-left: 25%;
    width: 50%;
    text-align: center;
    background-color: #dd4444;
    border: 0px inherit;
    color:white;
}

.background{
    background-color: dimgray;
    width: auto;
}